{% extends 'base.html' %}

{% block title %}APS Blogs{% endblock title %}

{% block activeHome %}active{% endblock activeHome %}

{% block body %}
<style>
    body {
        background: #f9f9f9;
    }

    .per-img {
        width: 150px;
        border: 1px black solid;
        border-radius: 50%;
    }

    .per-box {
        background: #f2f2f2;
        text-align: center;
        border: 1px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .big-box {
        padding: 10px;
        background: #f9f9f9;
        text-align: center;
    }

    .small-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
</style>
<div class="">
    <div class="jumbotron">
        <h1 class="display-4">Welcome To APS Blogs</h1>
        <hr class="my-4">
        <p>Click the button below to start reading blogs!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/blog/" role="button">Blogs</a>
        </p>
    </div>
</div>
<div class="big-box">
    <h1 class="side-anime">Meet Our Creators</h1>
    <div class="small-box mt-4">
        <div class="card per-box" style="width: 18rem;">
            <img src="media/blog/img/person.jpg" class="card-img-top per-img">
            <div class="card-body">
                <h5 class="card-title">Prabaljot Singh</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel a praesentium alias
                    qui. Nihil amet officiis fuga dolores ipsam quam voluptatum obcaecati numquam maiores blanditiis.
                </p>
            </div>
        </div>
        <div class="card per-box" style="width: 18rem;">
            <img src="media/blog/img/person.jpg" class="card-img-top per-img">
            <div class="card-body">
                <h5 class="card-title">Mrs. Rubal</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel a praesentium alias
                    qui. Nihil amet officiis fuga dolores ipsam quam voluptatum obcaecati numquam maiores blanditiis.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}